@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #47a0ac;
    --second-color: #e1b7c7;
    --text-color: #fff;
    --main-color: #00eeff;
    --third-color: #444252;
    --logo-color: #47a0ac;
    --menu-color: #2f4446;
    --textback-color: #000000;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: url("../photos/pexels-laura-stanley-2666145.jpg") repeat center center/cover;
    height: 100vh;
    overflow: scroll; 
    color: var(--text-color);

}



body::-webkit-scrollbar {
    width: .01rem;
    height: .01rem;
}

body {
    cursor: url("../photos/icons8-dog-bone-48.pn"), auto;
}
/* btn  */
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--menu-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

}

.btn:hover{
    box-shadow: none;
}



/* arrange text  */
section{
    min-height: 100%;
    padding: 10rem 9% 2rem;
}


/* Header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0.2rem 2%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 1.3rem var(--main-color);

}

/* Logo */

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;    /* default or pointer type of cursor */
    margin-right: 40rem;
}

.nav-logo{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}


/* Navigation */


.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin: 0 6rem 0 0;
    transition: .3s;
    
    
}

.navbar a:hover,
.navbar a.active{        /* shows the active page */
    color: var(--menu-color);
}


/* Menu icon */

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    
}

.inicio {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 60rem;
}

.home-img img{
    width: 0vw;

} 
    

.inicio-contenido h3{
    font-size: 3.2rem;
    font-weight: 700;
}


/* chnage color Dra Veterinaria  */

.inicio-contenido h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}


/* ---  */


.inicio-contenido h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.inicio-contenido h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.inicio-contenido p{
    font-size: 1.6rem;
    
}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--logo-color);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--logo-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);;

}


.sobre{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
    background: url("../photos/pexels-anna-tarazevich-7904477.jpg") repeat center center/cover;
}

.sobre-img img{
    width: 30vw;

} 

/* section 2 / page 2 */

.sobre-contenido{
    padding-left: 55rem;
}

.sobre-contenido h2{           /* About me */
    font-size: 5.6rem; 
    text-align: left;
    line-height: 1.2;
}

.sobre-contenido h3{            /* Dra Vete */
    font-size: 3.2rem;
    text-align: left;
    
}

.sobre-contenido p{            /* Description */
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* servicios */

 
.heading{
    font-size: 4.5rem;
    text-align: left;
    
}

.servicios h2{
    margin-bottom: 2rem;
    text-align: left;
}

.contenedor-servicios{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.contenedor-servicios-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


/* next class change color of the img */

.caja-servicios img{
    width: 13%;
}


/* how to accomodate 2 boxes up and 3 down? */
@media screen and (max-width: 1085px) {
    .contenedor-servicios .caja-servicios{
        flex: auto;
        flex-basis: 300px;
        height: 300px;
        background: var(--bg-color);
        padding: 3rem 2rem 4rem; 
        border-radius: 2rem;
        text-align: center;
        border: .3rem solid var(--logo-color);
        transition: 0.5s ease;
    }
}
@media screen and (min-width: 1084px) {
    .contenedor-servicios .caja-servicios{
        flex: auto;
        flex-basis: 300px;
        height: 300px;
        background: var(--bg-color);
        padding: 3rem 2rem 4rem; 
        border-radius: 2rem;
        text-align: center;
        border: .3rem solid var(--logo-color);
        transition: 0.5s ease;
    }
}



.contenedor-servicios .caja-servicios:hover{
    border-color: var(--main-color);
    transform: scale(1.1);

}


.caja-servicios i{
    font-size: 5.5rem;
    color: var(--main-color);

}

.caja-servicios h3 {
    font-size: 2.2rem;

}

.caja-servicios p {
    font-size: 1.45rem;
    margin: 1.5rem 0 3rem;
    
}

/* Comentarios */

.comentarios{
    background: url("../photos/pexels-peng-louis-3073690.jpg");
    
    background-size: 100% 100%;
}

.comentarios h2{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.contenedor-comentarios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.contenedor-comentarios .caja-comentarios{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.caja-comentarios img{
    height: 25rem;
    width: 90rem;
    
}


.caja-comentarios:hover img{
    transform: scale(1.1);
    transition: .8s ease;
}

.caja-comentarios .capa-comentario{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .5), var(--menu-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .8s ease;
}

.caja-comentarios:hover .capa-comentario{
    transform: translateY(0%);

}

.capa-comentario h4{
    font-size: 3rem;
}

.capa-comentario p{
    font-size: 1.4rem;
    margin: .3rem 0 1rem;
}


/* Contacto */

.contacto{
    background:rgba(0,0,0, .2);;
}

.contacto h2{
    font-size: 4.5rem;
    margin-bottom: 3rem;
    margin-top: 6rem;
    text-align: center;

}

.contacto form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    
}

.contacto form .caja-contacto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacto form .caja-contacto input, 
.contacto form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;

}

.contacto form .caja-contacto input{
    width: 49%;
}

.contacto form textarea{
    resize: none;
}


/* Pie */


.pie-pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.pie-texto p {
    font-size: 1.6rem;

}

.pie-icono a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--menu-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.pie-icono:hover a {
    box-shadow: 0 0 1rem var(--main-color);
}

.pie-icono a i {
    font-size: 2.4rem;
    color: var(--main-color);
}

